.btn {
  width: 240px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 1;
  color: #fff;
  background-color: @blue;
  border-radius: 4px;
  .transition();
  
  &:hover,
  &:active {
    background-color: @lightblue;
    .transition();
  }
}
