@media (max-width: 1720px) {
  .wrapper {
    width: 1200px;
  }
  .search__input {
    width: 330px;
  }
  .menu__item {
    margin-left: 5px;
    margin-right: 5px;
  }
  .menu__btn__wrap {
    width: 122px;
    height: 36px;
    
    svg {
      margin-right: 12px;
    }
  }
  .search__input,
  .search__btn,
  .menu__link {
    height: 36px;
  }
  .header__login {
    margin-right: 20px;
  }
  .footer__logo,
  .header__time {
    display: none;
  }
  .promo {
    padding-top: 30px;
    margin-bottom: 30px;
  }
  .type__link {
    height: 470px;
  }
  .type__link:nth-child(2),
  .type__link:nth-child(3) {
    height: 220px;
  }
  .type__title {
    font-size: 24px;
    line-height: 46px;
  }
  .category__list {
    margin-right: -30px;
  }
  .category__item {
    width: 270px;
    margin-right: 30px;
  }
  .category::after {
    top: 680px;
  }
  .blog__video {
    height: 180px;
  }
  .blog__img {
    height: 190px;
  }
  .blog__slide time {
    margin-top: 10px;
  }
  .blog__slider {
    margin-bottom: 20px;
  }
  .info__wrap {
    margin-left: 0;
    max-width: 830px;
  }
  .catalog__label {
    margin-right: 5px;
  }
  .blog {
    margin-bottom: 115px;
    
    &--video {
      margin-bottom: 100px;
    }
  }
  .info__logo {
    display: block;
    margin-top: 55px;
  }
  .footer__social {
    width: 320px;
  }
  .catalog__slider,
  .blog__slider {
    margin-left: -10px;
    margin-right: -10px;
  }
  .blog__item {
    width: 270px;
  }
  .blog__wrap--list {
    .blog__banners {
      width: 370px;
    }
    .blog__news {
      width: ~"calc(100% - 400px)";
    }
    .blog__time {
      padding: 5px 10px;
      font-size: 12px;
    }
    .blog__number {
      font-size: 12px;
    }
  }
  .faq__list {
    width: 500px;
    padding-right: 50px;
    left: ~"calc(50% - 585px)";
  }
  .faq__answer {
    width: ~"calc(100% - 500px)";
  }
  .catalog__item {
    width: 270px;
  }
  .card__slider {
    padding-left: 0;
    padding-right: 0;
    
    .card__prev {
      left: -20px;
    }
    .card__next {
      right: -20px;
    }
  }
  .card__info {
    width: 270px;
    
    .title-main {
      font-size: 18px;
    }
    .filter__sizes {
      margin-bottom: 20px;
    }
  }
  .card__shop {
    height: 46px;
    font-size: 14px;
  }
  .card__slider {
    width: ~"calc(100% - 340px)";
  }
  .card {
    padding-top: 0;
    
    .card__field {
      font-size: 14px;
    }
  }
  .card__articul {
    margin-bottom: 10px;
  }
  .card__wrap {
    margin-bottom: 65px;
  }
  .card .card__about {
    width: 770px;
    max-width: 100%;
  }
  .basket__finish,
  .basket__left,
  .basket__right {
    width: 49%;
  }
  .form__line--full {
    display: block;
    
    .form__field {
      width: 100%;
    }
  }
  .basket__btn {
    width: 270px;
    height: 46px;
    font-size: 14px;
  }
  .basket__total {
    max-width: 270px;
    padding: 15px 20px;
    text-align: center;
  }
  .basket__table td:first-child {
    width: 100px;
    padding: 0;
    padding-right: 10px;
  }
  .actions__wrap {
    padding-left: 0;
    padding-right: 0;
  }
  .actions__prev {
    left: -65px;
  }
  .actions__next {
    right: -65px;
  }
  .sidebar {
    width: 270px;
  }
  .order__content {
    width: ~"calc(100% - 300px)";
  }
  .order__number,
  .order__details {
    width: 570px;
  }
  .order__comment,
  .order__status {
    width: ~"calc(100% - 570px)";
  }
  .order__data {
    padding: 15px;
  }
  .order__item {
    width: 100%;
  }
  .review__product {
    width: 510px;
  }
  .catalog__img img {
    transform: none;
  }
  .tabs__name a,
  .title {
    font-size: 24px;
  }
  .tabs__name {
    padding: 0 7px;
  }
  .tabs__name a {
    padding-bottom: 3px;
  }
  .tabs__title {
    margin-bottom: 10px;
  }
}

@media (max-width: 1400px) {
  .swiper-button-prev {
    left: -10px;
  }
  .swiper-button-next {
    right: -10px;
  }
  .catalog__img {
    height: 180px;
  }
  .blog__title {
    font-size: 14px;
  }
  .blog__slide time {
    font-size: 12px;
  }
  .blog__slider--video {
    font-size: 14px;
    
    .blog__title {
      font-size: 18px;
    }
  }
  .info {
    font-size: 14px;
  }
  .subtitle {
    font-size: 16px;
  }
  .contacts__wrap {
    .title-main {
      margin-bottom: 20px;
    }
  }
  .contacts__address {
    margin-bottom: 30px;
  }
  .contacts__map {
    min-height: 467px;
    
    iframe {
      height: 467px;
    }
  }
  .about__info {
    padding-left: 0;
    padding-right: 0;
  }
  .faq__link {
    padding: 4px 20px;
    font-size: 13px;
  }
  .faq__block {
    .title-main {
      font-size: 20px;
    }
  }
  .blog__article {
    padding-left: 0;
  }
  .blog__wrap--list .blog__banners--article {
    width: 270px;
  }
  .basket__ok {
    padding: 20px 10px;
  }
  .btn-top {
    right: 20px;
  }
  .category::after {
    height: 750px;
    background-position: right top;
  }
}
