.info {
  position: relative;
  z-index: 5;
  margin-bottom: 115px;
  
  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    right: 0;
    top: -50px;
    width: 416px;
    height: 832px;
    background-image: url(../img/images/deco-3.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  .title {
    margin-top: 0;
    margin-bottom: 22px;
    text-align: left;
  }
  
  .subtitle {
    margin-bottom: 25px;
  }
  
  ul {
    padding-left: 17px;
  }
  
  a {
    color: @blue;
    font-weight: 700;
    text-decoration: underline;
  }
  
  a:hover,
  a:active {
    text-decoration: none;
  }
}

.info__wrap {
  max-width: 960px;
  margin-left: 285px;
}

.info__logo {
  display: none;
}
