.menu {
  background-color: @blue;
}

.menu__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__drop {
  display: none;
}

.menu__btn {
  width: 158px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  color: #fff;
  border-radius: 4px;
  background-color: rgb(0, 168, 238);
  box-shadow: 0px 2px 9.8px 0.2px rgba(0, 0, 0, 0.05);
  border: 1px solid rgb(0, 173, 245);
  
  svg {
    fill: #fff;
    margin-right: 20px;
  }
}

.menu__list {
  .reset();
  list-style: none;
  display: flex;
  justify-content: center;
}

.menu__item {
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px 0;
  
  &:hover,
  &:active {
    .menu__link {
      background-color: rgb(0, 168, 238);
    }
  }
}

.menu__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 0 10px;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  color: #fff;
  border-radius: 4px;
}

.menu__lang {
  margin-left: 20px;
  font-size: 14px;
  line-height: 1;
  font-size: 16px;
  text-transform: uppercase;
  color: #80d0f2;
  .transition();
  
  &:hover,
  &:active {
    color: #fff;
    .transition();
  }
  
  &--active {
    color: #fff;
    pointer-events: none;
  }
}
