@media (max-width: 766px) {
  .search__input {
    width: 80px;
  }
  .menu__btn__wrap {
    width: 120px;
  }
  .header__icon {
    margin-left: 15px;
  }
  .header__login {
    display: block;
    width: 27px;
    height: 37px;
    padding-left: 0;
//    margin-left: 10px;
    font-size: 0;
    
    &::before {
      top: 0;
      width: 27px;
      height: 27px;
    }
  }
  .header__phones::before,
  .header__dropbtn,
  .info::before,
  .blog--video::before,
  .category::after,
  .promo {
    display: none;
  }
  .type__link {
    height: 214px;
  }
  .type__link:nth-child(2),
  .type__link:nth-child(3) {
    height: 100px;
  }
  .type__wrap {
    height: 317px;
    margin-top: 10px;
  }
  .type__title {
    font-size: 14px;
    line-height: 32px;
  }
  .type {
    margin-bottom: 50px;
  }
  .tabs {
    margin-bottom: 75px;
  }
  .blog,
  .category {
    margin-bottom: 65px;
  }
  .category__list {
    margin-left: 0;
    justify-content: space-between;
  }
  .category__item {
    width: 48%;
    margin-right: 0;
  }
  .category__img {
    height: 120px;
  }
  .category__title {
    font-size: 14px;
    line-height: 20px;
  }
  .tabs__name a {
    padding: 8px;
    font-size: 14px;
  }
  .blog__slider {
    margin-bottom: 5px;
  }
  .blog .title {
    margin-bottom: 0;
    line-height: 32px;
  }
  .swiper-button-prev,
  .swiper-button-next {
    width: 38px;
    height: 38px;
  }
  .info .title {
    margin-bottom: 17px;
    text-align: center;
  }
  .info__wrap {
    font-size: 14px;
    
    .subtitle {
      font-size: 16px;
    }
  }
  .info {
    margin-bottom: 75px;
  }
  .footer__wrap {
    display: block;
    padding-bottom: 50px;
  }
  .footer__social,
  .footer__menu--buyer,
  .footer__contacts,
  .footer__logo {
    width: 100%;
    padding: 0;
  }
  .footer__logo .logo {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    text-align: center;
    width: auto;
    margin-bottom: 20px;
    
    img {
      width: 150px;
      height: auto;
    }
  }
  .footer__info {
    width: 100%;
    max-width: 100%;
    margin-top: 0;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
  .footer__title {
    text-align: center;
  }
  .social {
    justify-content: center;
  }
  .social__item {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
  }
  .header__phones {
    padding-left: 0;
    margin-left: auto;
  }
  .header__phones .header__phone {
    display: none;
  }
  .header__mobilebtn {
    width: 40px;
    height: 40px;
    display: block;
    background-image: url(../img/icons/3.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35px 35px;
  }
  .footer__list li {
    margin-bottom: 2px;
    background-color: rgb(19, 19, 19);
    
    &::before {
      display: none;
    }
    
    a {
      display: block;
      width: 100%;
      line-height: 34px;
      text-align: center;
    }
  }
  .footer__menu--info {
    .footer__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      
      li {
        width: 49.5%;
      }
    }
  }
  .footer__menu--buyer,
  .footer__menu--info {
    margin-bottom: 25px;
  }
  .footer__tel {
    margin-bottom: 2px;
    display: block;
    width: 100%;
    padding-left: 0;
    line-height: 34px;
    text-align: center;
    background-color: rgb(19, 19, 19);
    
    &::before,
    span {
      display: none;
    }
  }
  .footer__tel--opt,
  .footer__tel--skype {
    span {
      display: inline;
    }
  }
  .footer__tel--skype span,
  .footer__tel--opt span,
  .footer__tel b {
    position: relative;
    padding-left: 20px;
    
    &::before {
      content: "";
      position: absolute;
      top: 3px;
      left: 0;
      width: 16px;
      height: 16px;
      background-image: url(../img/icons/tel.svg);
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  .footer__tel--opt {
    b {
      padding-left: 0;
      
      &::before {
        display: none;
      }
    }
  }
  .footer__tel--skype span::before {
    background-image: url(../img/icons/13.svg);
  }
  .header__title {
    display: block;
    margin: 0;
    padding: 0 10px;
    text-transform: uppercase;
    color: #000;
    line-height: 32px;
    letter-spacing: 0.04em;
    border-bottom: 1px solid rgb(240, 240, 240);
  }
  .header__closebtn {
    display: block;
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;
    width: 32px;
    height: 32px;
    background-image: url(../img/icons/2.svg);
    background-repeat: no-repeat;
    background-size: 40px 40px;
    background-position: center;
  }
  .header__droptablet {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    max-width: 100%;
    display: block;
    opacity: 0;
    width: 0;
    .transition();
    
    &--open {
      opacity: 1;
      z-index: 1000;
      width: 300px;
      .transition();
    }
  }
  .header__opt a {
    display: block;
    margin-left: 0;
    margin-top: 5px;
  }
  .menu__drop--open {
    width: 300px;
  }
  .blog__btn,
  .tabs__btn {
    width: 100%;
  }
  .blog__img {
    height: 230px;
    margin-bottom: 20px;
  }
  .blog__slide {
    padding: 20px;
  }
  .blog__slide time,
  .blog__title {
    padding: 0;
  }
  .blog__slider--video .blog__title {
    margin-top: 0;
  }
  .blog--video {
    margin-bottom: 60px;
    
    .blog__info {
      padding-bottom: 0;
    }
  }
  .blog__info {
    padding: 0;
  }
  .blog__list {
    display: block;
    margin-right: 0;
    
    .blog__time {
      font-size: 12px;
    }
    .blog__title {
      margin-bottom: 15px;
    }
  }
  .blog__item {
    width: 100%;
    margin-right: 0;
  }
  .blog__list--table {
    .blog__item {
      display: block;
    }
    .blog__img {
      float: left;
      width: 110px;
      height: auto;
      margin-right: 12px;
      margin-bottom: 10px;
    }
    .blog__info {
      width: 100%;
    }
    .blog__title {
      font-size: 14px;
    }
    .blog__number,
    .blog__time {
      font-size: 10px;
    }
    .blog__number {
      padding-left: 22px;
    }
    .blog__number::before {
      width: 16px;
      height: 10px;
    }
    .blog__text {
      margin-top: 35px;
      font-size: 12px;
    }
  }
  .contacts__wrap {
    display: block;
  }
  .contacts__form .form__btn,
  .contacts__info,
  .contacts__form {
    width: 100%;
  }
  .contacts__opt {
    margin-bottom: 50px;
  }
  .form__captcha,
  .contacts__form .form__comment {
    text-align: center;
  }
  .contacts__map {
    min-height: 424px;
      
    iframe {
      height: 424px;
    }
  }
  .about__img {
    height: 170px;
    
    img {
      height: 100%;
      width: auto;
    }
  }
  .about__info {
    margin-top: -30px;
  }
  .about__imgs {
    display: block;
    
    img {
      width: 100%;
      margin-bottom: 5px;
    }
  }
  .nets__link {
    width: 32px;
    height: 32px;
  }
  .nets__list {
    flex-wrap: wrap;
  }
  .about {
    margin-bottom: 75px;
  }
  .nets span {
    margin-right: 5px;
  }
  .faq__list {
    display: none;
  }
  .faq__answer {
    width: 100%;
    padding: 0;
  }
  .faq .title-main {
    text-align: center;
  }
  .faq__drop {
    display: none;
    padding: 10px;
  }
  .faq__block {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 5px;
  }
  .faq .faq__title {
    position: relative;
    min-height: 54px;
    padding: 10px;
    padding-right: 50px;
    text-align: left;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 0;
    background-color: rgb(250, 250, 250);
    .transition();
    
    &::after {
      content: "";
      position: absolute;
      top: 13px;
      right: 10px;
      width: 32px;
      height: 32px;
      background-image: url(../img/icons/52.svg);
      background-repeat: no-repeat;
      background-size: contain;
      transform: rotate(90deg);
      .transition();
    }
    
    &--open {
      color: #fff;
      background-color: @blue;
      .transition();
      
      &::after {
        transform: rotate(-90deg);
        .transition();
      }
    }
  }
  .faq__wrap {
    margin-bottom: 80px;
  }
  .filter__btn {
    margin-right: auto;
  }
  .catalog__item {
    width: 165px;
    
    .catalog__rating {
      font-size: 0;
    }
    .catalog__info,
    .catalog__title {
      font-size: 10px;
    }
    .catalog__newprice {
      font-size: 18px;
    }
    .catalog__oldprice {
      font-size: 12px;
    }
    .catalog__sale {
      width: 32px;
      height: 32px;
      font-size: 10px;
      line-height: 32px;
    }
    .catalog__img {
      height: 145px;
    }
  }
  .form__line,
  .card__wrap {
    display: block;
  }
  .review .form__btn,
  .form__input--video,
  .form__label-file,
  .form__field,
  .form__line,
  .review__comment,
  .card__slider,
  .card__info {
    width: 100%;
  }
  .card__slider {
    padding-bottom: 30px;
  }
  .card__slider {
    .card__prev {
      left: 0;
    }
    .card__next {
      right: 0;
    }
  }
  .card__info .title-main {
    font-size: 20px;
  }
  .card__info .filter__modal {
    font-size: 12px;
  }
  .card .card__title {
    flex-wrap: wrap;
    border-bottom: 0;
  }
  .card .card__name {
    width: 50%;
    margin: 0 !important;
    
    a {
      width: 100%;
      height: 100%;
      text-align: center;
      border: 1px solid #e6e6e6;
    }
  }
  .card .card__title .ui-tabs-active a {
    padding-bottom: 13px !important;
  }
  .card .card__title .ui-tabs-active a::after {
    display: none;
  }
  .review__sublist {
    margin-left: 20px !important;
  }
  .form__line .form__comment {
    text-align: left;
  }
  .card {
    margin-bottom: 75px;
  }
  .modal--size {
    padding: 20px;
  }
  .blog__article {
    font-size: 14px;
    
    .title-main {
      font-size: 20px;
    }
  }
  blockquote {
    padding: 10px 15px;
  }
  .blockquote-big {
    font-size: 16px;
  }
  .nav__link {
    width: 47%;
    font-size: 12px;
    
    &::before {
      width: 16px;
      height: 16px;
    }
    
    &--prev {
      padding-left: 25px;
    }
    &--next {
      padding-right: 25px;
    }
  }
  .basket__table tbody,
  .basket__table tr,
  .basket__table td,
  .basket__table {
    display: block;
  }
  .basket__table td:first-child {
    float: left;
  }
  .basket__name {
    min-height: 35px;
  }
  .basket__size {
    min-height: 35px;
    margin-bottom: 20px;
    font-size: 12px;
  }
  .basket__img {
    height: 70px;
    
    img {
      max-height: 100%;
    }
  }
  .basket__delivery .title-main {
    font-size: 18px;
  }
  .basket__alert {
    font-size: 10px;
  }
  .policy {
    margin-bottom: 20px;
    font-size: 12px;
  }
  .policy span::before {
    top: -2px;
  }
  .basket__discount--hidden {
    display: none;
  }
  .actions {
    margin-top: 0;
  }
  .actions__wrap {
    padding: 20px 0;
  }
  .find__comment {
    position: static;
  }
}
