.modal {
  width: 470px;
  max-width: 100%;
  padding: 30px;
  padding-top: 20px;
  background-color: rgb(255, 255, 255);
  
  &--size {
    width: 670px;
    padding-left: 45px;
    padding-right: 45px;
    font-size: 14px;
    
    .modal__title {
      max-width: 100%;
    }
  }
  
  a {
    color: @blue;
    
    &:hover,
    &:active {
      text-decoration: underline;
    }
  }
  
  ol {
    padding-left: 20px;
    
    li {
      margin-bottom: 5px;
    }
    img {
      display: block;
      margin: 10px auto;
    }
  }
  
  .subtitle {
    font-weight: 400;
    text-align: center;
  }
  
  &--policy {
    width: 670px;
    padding-left: 0;
    padding-right: 0;
    
    .modal__title {
      max-width: 100%;
    }
  }
}

.modal__title {
  max-width: 310px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 24px;
  line-height: 1.2;
  color: #000;
  text-align: center;
}

.fancybox-close-small {
  width: 32px;
  height: 32px;
  padding: 0;
  background-image: url(../img/icons/2.svg);
  background-repeat: no-repeat;
  background-size: 40px 40px;
  background-position: center;
  
  svg {
    display: none;
  }
}

.modal .modal__enter {
  border: 0;
}

.filter__selection .modal__field,
.modal .modal__field {
  padding: 0;
}

.filter__selection .modal__list,
.modal .modal__list {
  .reset();
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 25px;
  border: 0;
  background-color: #fff;
  
  .ui-tabs-active a {
    color: @blue;
    border-top: 3px solid @blue;
  }
}

.filter__selection .modal__name,
.modal .modal__name {
  width: 50%;
  border: 0;
  margin: 0 !important;
  background-color: #fff;
  
  a {
    display: block;
    width: 100%;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    color: #000;
    border: 1px solid rgb(230, 230, 230);
    background-color: #fff;
  }
}

.modal__table {
  width: 100%;
  margin-bottom: 30px;
  border-collapse: collapse;
  font-size: 14px;
  text-align: center;
  
  th {
    font-weight: 400;
    height: 37px;
    border: 1px solid rgb(230, 230, 230);
  }
  td {
    height: 37px;
    border: 1px solid rgb(230, 230, 230);
  }
}

.modal__video {
  margin-bottom: 30px;
  
  iframe {
    display: block;
    width: 100%;
    height: 365px;
    border: 0;
  }
}

.modal__banner {
  width: 100%;
  
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.modal__block {
  padding: 20px 30px;
  font-size: 14px;
  
  a {
    color: @blue;
    
    &:hover,
    &:active {
      text-decoration: underline;
    }
  }
}

.modal__slider {
  height: 470px;
  box-sizing: border-box;
//  border-top: 2px solid rgb(240, 240, 240);
  box-shadow: inset 0px 4px 14.25px 0.75px rgba(0, 0, 0, 0.2);
  
  .swiper-slide {
    width: 100%;
    height: 470px;
    max-height: 470px;
    box-sizing: border-box;
  }
  
//  .swiper-wrapper {
//    height: 470px;
//  }
}

.modal__btn {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 270px;
}

.swiper-container-vertical>.swiper-scrollbar {
  width: 8px;
  background-color: rgb(232, 232, 232);
}

.swiper-scrollbar-drag {
//  height: 100px;
  background-color: @blue;
}

.modal__close {
  width: 270px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}
